.above-nav{
    display: block;
    padding:  0;
    height: 7px;
    width: 100%;
    background-color: red;
    margin: 0;
    top: 0;
    margin-top: -10px;
}

nav img{
    width: 100px;
    height: 60px;
    cursor: pointer;
}


.nav-container{
    margin-top: 20px;
    padding: 0 8%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav-child1{
    display: flex;
    align-items: baseline;
}

.nav-child2{
    display: flex;
    align-items: baseline;
}

nav  a {
    display: block;
    padding: 10px 20px;
    color: #4a4a4a;
    text-align: center;
    font-family:Barlow\ Condensed,sans-serif;
    font-weight:500;
    font-size: 18px;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

nav i{
    font-size:  30px ;
}

.below-nav{
    display: block;
    width: 100%;
    background-color: #f8f5f2 ;
    box-sizing: border-box;
    text-align: center;
    padding: 5px 15px;
    font-weight: 400;
    box-shadow: 0 1px 4px 0 hsla(0,0%,61%,.5);
    margin-top: 10px;
}

div ul{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-right: 5px;
    font-weight: 600;
}
  
div ul li{
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-right: 10px;
    font-weight: 600;
    font-size: small;
    letter-spacing: 2px;
    font-family: Montserrat,sans-serif;
    
}

.text1{
    color: green;
    display: inline-block;
    position: relative;
}
  
.fontawsome{
    display: inline-block;
}

.body-container{
    display: flex;
    flex-flow: column wrap;
    padding: 0 8%;
}

.body-child1{
    text-align: center;
    margin-top: 60px;
    font-family: Barlow\ Condensed,sans-serif;
}

.body-child1 > h1{
    color:  #ed1c24;
    font-weight: 900;
}

.body-child1 > p{
    color: #4a4a4a;
    font-size: medium;
    line-height: 1.5em;
    font-weight: 400;
}

.body-child2{
    display: flex;
    flex-flow: row wrap;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item-card{
    width: 24%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }


.item-card h3{
    text-align: left;
    font-size: 1.4rem;
    color: #4a4a4a;
    letter-spacing: 0.05rem;
    font-family: Montserrat,sans-serif;
    font-weight: bold;
}

.item-card img{
    position: relative;
    width: 100%;
    height: 80%;
    box-shadow: 0 1px 4px 0 hsla(0,0%,61%,.5);
    border-radius: 3px;
}

.body-child3{
    display: flex;
    flex-flow: column wrap;
}

.section1{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.part1 > label{
    font-size: small;
    line-height: 1.5em;
    color: #4a4a4a;
    display: inline-block;
    letter-spacing: 1.1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.part1 > a{
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    color: #5d9732;
    display: inline-block;
    position: relative;
    letter-spacing: .05rem;
    text-decoration: none;
    cursor: pointer;
}

.part2{
    background-color: transparent;
    border-color: #a3a3a3;
    color: #4a4a4a;
    padding: 6px 24px;
    border-radius: 4px;
    font-size: 11px;
    letter-spacing: 1.7px;
    line-height: normal;
    padding: 8px 26px;
    box-shadow: 0 1px 4px 0 hsla(0,0%,61%,.5);
    text-align: center;
    cursor: pointer;
    justify-content: center;
}

.section2{
    margin-top: 20px;
    text-align: center;
    color: #4a4a4a;
    font-size:x-small;
     font-family: Barlow\ Condensed,sans-serif;
}